<p>
  Hello. Welcome to backbone + express + coffee + mongo + handlebars + stylus boostrap.
</p>
<p>
  Stay awhile and listen. Or don't. I don't care.
</p>

{{#if loggedIn}}
  <p>
    It looks like you're <b>logged in</b>.
  </p>
{{/if}}
