extends layout

block content
  header#header-container.header-container
  .container.outer-container
    #page-container.page-container
  footer
  ul#notifications
  script(type='text/javascript')
    // bootstrap user and csrf objects
    var user = !{JSON.stringify(user)}
    var csrf = !{JSON.stringify(csrf)}
  if isProduction
    script(type='text/javascript',src='/javascript/app.min.js')
  else
    script(type='text/javascript',src='/javascript/vendor.js')
    script(type='text/javascript',src='/javascript/app.js')

  script(type='text/javascript')
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'YOUR KEY HERE']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
