@import 'nib'

wavesblue = #01688A

footer
  height 50px
  width 100%
  position absolute
  bottom 0px
  text-align center

  ul
    height 50px
    width 50%
    margin auto

    li
      height 100%
      list-style-type none
      margin 0
      padding 0
      float left

      a
        color #EEE
