.login-page, .register-page
  text-align center

  form
    width 400px
    margin auto
    text-align left

    .invalid
      display none

    > div
      padding 5px

      label, .invalid
        display inline-block

      .email
        margin-left 48px

      input
        height 30px
        margin-left 21px

        &:focus
          border none

    .forbutton
       text-align center

      input[type=submit]
        height 50px
        width 100px
        margin 0
        background #c9c9c9
